/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
    --clr-black: #222;
    --clr-white: #fff;


    --spacing: 0.25rem;

    --transition: all 0.4s linear;

    --radius: 0.5rem;

    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
}
*,::before,::after{
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
    
    position: relative;
    /*background-color: powderblue;*/
    background: linear-gradient(-135deg, #c850c0, #4185d0);

}

header{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

.body {
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: 0.9rem;
    /*background-color: turquoise;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
}

h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

/*input[type=text]{
    width: 80%;
    border-radius: 2px solid;   
    padding: 10px;
    margin: 10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    border: 1px solid #eee;
    
}*/

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

.form-text, .form-label{
    display: block;
    width: 100%;
    border: none;
}

.form-text {
    padding: 10px;
    border: none;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.0);
}

.form-text:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
    border: none;
}

.form-text:focus + .form-label{
    margin-top: -100px;
    border: none;
}

.form-label{
    border: none;
    padding-left: 15px;
    position: absolute;
    margin-top: -70px; /*Here is the magic of the position*/
    z-index: -20; /*Here is beside the input*/
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s; /*The more seconds the more slow*/
}

.stop-animation{
    margin-top: -100px;
}
