/* Table Styles */

/*.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
table  table th {
    text-align: center;
    padding: 8px;
    background-color: lawngreen;
}

table td {
    border-right: 1px solid #ff0303;

    font-size: 12px;
}

table  th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}
*/

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


table td,
table th {
    text-align: center;
    padding: 8px;
}

table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    cursor: pointer;
}

table th {
    color: #ffffff;
    background: hsl(156, 2%, 45%);
}


table th:nth-child(odd) {
    color: #ffffff;
    background: #282b2e;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}

.scrollit {
    overflow: scroll;
    height: 220px;
}