@import url('https://rsms.me/inter/inter.css');

:root {
    --color-light: rgba(255, 255, 255, 0.678);
    --color-light2: linear-gradient(56deg, rgba(69, 179, 177, 1) 0%, rgba(199, 84, 176, 1) 100%);
    /*--color-signal: #00c01a*/
    ;
    --color-signal: rgb(43, 43, 45);
    --color-background: var(--color-light);
    --color-background2: var(--color-light2);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    --size-bezel: 0.5rem;
    --size-radius: 4px;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background2);
    font-weight: 300;
}

h1,
h2,
h3 {
    font-weight: 900;
}

mark {
    background: var(--color-accent);
    color: var(--color-text);
    font-weight: bold;
    padding: 0 0.2em;
}

.card {

    background: var(--color-background);
    padding: calc(4 * var(--size-bezel));
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}

.card--inverted {
    --color-background: var(--color-dark);
    color: var(--color-light);
    --color-shadow: var(--color-accent);
}

.card--accent {
    --color-background: var(--color-signal);
    --color-accent: var(--color-light);
    color: var(--color-dark);
}

.card *:first-child {
    margin-top: 0;
}

.l-design-widht {
    max-width: 40rem;
    padding: 1rem;
}

.input {
    position: relative;
}

.input__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);

    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;

    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;

}

.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
}

.input__field:focus+.input__label,
.input__field:not(:placeholder-shown)+.input__label {
    transform: translate(0.25rem, -100%) scale(0.8);
    border: 0px var(--color-background);
    /*color: var(--color-accent);*/
    color: #788EB1;
    /*background-color: rgb(255, 255, 255);*/
    background-color: transparent;
}

.button-group {
    margin-top: calc(var(--size-bezel) * 2.5);
}

button {
    color: white;
    padding: var(--size-bezel) calc(var(--size-bezel) * 2);
    background: var(--color-accent);
    border: none;
    border-radius: var(--size-radius);
    font-weight: 900;
}

button[type=reset] {
    background: var(--color-background);
    font-weight: 200;
}

button+button {
    margin-left: calc(var(--size-bezel) * 2);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.hidden {
    display: none;
}

header {
    text-align: center;
}

.card-wrishark-hex {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    /* Half of width */
    margin-top: -50px;
    /* Half of height */
}

.left {
    float: left;
    width: 630px;
    height: auto;
}

.right {
    float: right;
    width: 630px;
    height: auto;
}